.footer
  padding: 2rem 0
  background: white
  color: $black

  +breakpoint(medium)
    padding: 4rem 0

  +breakpoint(large)
    padding: 6rem 0

.footer__logo
  display: inline-flex
  margin-right: 2rem

  +breakpoint(medium)
    margin-right: 4rem

.footer__copyright
  margin-top: 1rem

  +breakpoint(large)
    margin-top: 0

  p
    font-family: $font-sans
    font-size: 10px
    font-weight: 300

  a
    color: inherit
    text-decoration: none

  span
    margin: 0 0.5rem

.footer__icons
  display: flex
  margin-top: 2rem

  +breakpoint(large)
    margin-top: 0

  img
    margin-left: 1rem

  a:first-child img
    margin-left: 0

.footer__icon-p
  max-width: 86px

.footer__icon-r
  max-width: 89px

.footer__icon-pets
  max-width: 44px

.footer__icon-f
  max-width: 48px
