html
  &.is-open
    @include breakpoint(medium down)
      overflow: hidden // prevent scrolling with nav overlay

body
  background: $black
  color: white

.site
  overflow-x: hidden

  .is-open &
    @include breakpoint(medium down)
      height: 100%
      position: relative
      overflow-y: hidden

  .is-open &:after
    @include breakpoint(medium down)
      content: ''
      background: white
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 2
      opacity: 0.98
