// Foundation includes
// Global styles
+foundation-global-styles

// Grids
+foundation-xy-grid-classes( $base-grid: true, $margin-grid: true )

// Helpers
+foundation-flex-classes

// Global styles
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  padding: 0

html
  box-sizing: border-box
  overflow-x: hidden
  overflow-y: scroll
  text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent

*,
*:before,
*:after
  box-sizing: inherit

article,
aside,
figure,
footer,
header,
hgroup,
section
  display: block

body,
button,
input,
select,
textarea
  font: 16px/1 $font-sans

img
  height: auto
  max-width: 100%

::-moz-selection
  background: $selection-bg
  color: $selection-color

::selection
  background: $selection-bg
  color: $selection-color

// WordPress default classes
.alignnone
  margin: 5px 20px 20px 0

.aligncenter,
div.aligncenter
  display: block
  margin: 5px auto 5px auto

.alignright
  float: right
  margin: 5px 0 20px 20px

.alignleft
  float: left
  margin: 5px 20px 20px 0

.aligncenter
  display: block
  margin: 5px auto 5px auto

a img.alignright
  float: right
  margin: 5px 0 20px 20px

a img.alignnone
  margin: 5px 20px 20px 0

a img.alignleft
  float: left
  margin: 5px 20px 20px 0

a img.aligncenter
  display: block
  margin-left: auto
  margin-right: auto

.wp-caption
  background: #fff
  border: 1px solid #f0f0f0
  max-width: 96%
  padding: 5px 3px 10px
  text-align: center

.wp-caption.alignnone
  margin: 5px 20px 20px 0

.wp-caption.alignleft
  margin: 5px 20px 20px 0

.wp-caption.alignright
  margin: 5px 0 20px 20px

.wp-caption img
  border: 0 none
  height: auto
  margin: 0
  max-width: 98.5%
  padding: 0
  width: auto

.wp-caption p.wp-caption-text
  font-size: 11px
  line-height: 17px
  margin: 0
  padding: 0 4px 5px

video.wp-video-shortcode,
.wp-video-shortcode video
  display: inline-block
  max-width: 100%
