// Typography
// Generate heading classes based on heading tags
$headings: ('h1' 'h2' 'h3')

@each $heading in $headings
  .display-#{$heading}
    @extend #{$heading}

// Generate color and background-color classes
$colors: ('primary' : $primary, 'secondary': $secondary, 'tertiary': $tertiary, 'white': '#fff', 'black': '#000')

@each $color-name, $color-code in $colors
  .color-#{$color-name}
    color: #{$color-code}

@each $color-name, $color-code in $colors
  .bg-#{$color-name}
    background-color: #{$color-code}

// Generate text alignment classes
@each $size in $breakpoint-classes
  @include breakpoint($size)
    @each $align in (left, right, center, justify)
      @if $size != $-zf-zero-breakpoint
        .#{$size}-text-#{$align}
          text-align: $align
      @else
        .text-#{$align}
          text-align: $align

// Accessibility
.screen-reader-text
  clip: rect(1px, 1px, 1px, 1px)
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus
  background-color: #f1f1f1
  border-radius: 3px
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)
  clip: auto !important
  color: #21759b
  display: block
  font-size: 14px
  font-size: 0.875rem
  font-weight: bold
  height: auto
  left: 5px
  line-height: normal
  padding: 15px 23px 14px
  text-decoration: none
  top: 5px
  width: auto
  z-index: 100000

