.font-sans, .font-sans li
  font-family: $font-sans;

.font-sans li
  font-size: 0.875rem
  
.text-smaller,
.smaller-text,
li.smaller-text
  font-size: 14px

.text-uppercase
  text-transform: uppercase
  
h1, h2, h3, h4, h5, h6
  margin-top: 1.5rem

  &:first-child
    margin-top: 0
    
  span
    +breakpoint(medium)
      display: block

h1
  font-size: responsive 28px 96px
  font-range: 420px 1600px
  font-weight: 900
  line-height: 1
  text-transform: uppercase

h2
  font-size: responsive 20px 32px
  font-range: 420px 1600px
  font-weight: 900
  line-height: 1.2
  text-transform: uppercase

h3
  font-size: responsive 15px 18px
  font-range: 420px 1600px
  font-weight: 700
  line-height: 1.2
  text-transform: uppercase
h4
  font-size: responsive 14px 16px
  font-range: 420px 1600px
  font-weight: 700
  line-height: 1.2
  text-transform: uppercase
// h4
//   font-size: responsive 20px 24px
//   font-range: 420px 1600px
//   font-weight: 700
//   line-height: 1.5

// h5
//   font-size: 18px
//   font-weight: 700

// h6
//   font-size: 16px
//   font-weight: 700
//   line-height: 1.5

p
  margin-top: 1rem
  color: inherit
  font-family: $font-serif
  font-size: 18px
  font-weight: 400
  line-height: 1.7
  +breakpoint( medium )
    margin-top: 2.222rem

  &:first-child
    margin-top: 0

ul
  margin-top: 1.5rem
  margin-bottom: 0
  &:first-child
    margin-top: 0
    
  &.no-bullets
    list-style: none
    
  &.three-up
    display: flex
    flex-wrap: wrap
    li
      flex-basis: 100%
      +breakpoint(medium)
        flex-basis: 33.333%

li
  margin-top: 0.5rem
  color: inherit
  font-family: $font-serif
  font-size: 18px
  font-weight: 400
  line-height: 1.5
  
a
  color: $light-bronze
  text-decoration: none
  transition: color 0.3s ease-out-cubic

  &:hover
    //color: $light-bronze
    text-decoration: underline
    color: $bronze

strong
  color: inherit

hr
  height: 2px
  margin: 2rem 0
  background: $light-gray
  outline: none
  border: none
