.section--amenties-tabs .tab-wrapper
  max-width: 1187px
  margin: auto
.amenity-map
  position: relative
  margin-bottom: 2rem

  .node-marker
    position: absolute
    z-index: 10
    top: 0
    left: 0
    &.is-active .node svg
      fill: #232F64
      stroke: #E5E5E4
    .node
      svg
        fill: #ab8561
        stroke: #cc9d79
        transition: fill 0.2s ease, stroke
        &:hover
          fill: #232F64
          stroke: #E5E5E4
      .tooltip
        background: white
        position: absolute
        top: -50%
        left: 50%
        padding: 8px
        box-shadow: 0px 0px 3px rgba(0,0,0,0.4)
        transform: translate(-50%,-50%)
        font-size: rem-calc(14px)
        +breakpoint( small ) 
          display: none
  .nodes
    &.nodes--floor1
      .node-marker:nth-child(1)
        top: 69%
        left: 22%
      .node-marker:nth-child(2)
        top: 45%
        left: 25%
      .node-marker:nth-child(3)
        top: 57%
        left: 35%
      .node-marker:nth-child(4)
        top: 59%
        left: 24%
    &.nodes--floor2
      .node-marker:nth-child(1)
        top: 53%
        left: 40%
    &.nodes--floor3
      .node-marker:nth-child(1)
        top: 55%
        left: 33%
      .node-marker:nth-child(2)
        top: 33%
        left: 67%
      .node-marker:nth-child(3)
        top: 20%
        left: 80%
    &.nodes--floor4
      .node-marker:nth-child(1)
        top: 40%
        left: 17%
      .node-marker:nth-child(2)
        top: 29%
        left: 32%
      .node-marker:nth-child(3)
        top: 48%
        left: 17%
      .node-marker:nth-child(4)
        top: 12%
        left: 52%
.slider-controls
  position: relative
  height: 100px