.banner
  position: absolute
  top: 0
  left: 0
  z-index: 450
  width: 100%
  padding: 2rem
  background: $bronze-gradient
  color: $black
  text-align: center
  &.banner--sticky
    +breakpoint( large )
      position: fixed
    
    

.banner__text
  font-size: 16px
  color: #fff
  margin: 0
  +breakpoint(medium)
    font-size: 18px

  &.banner__headline
    font-size: 20px
    +breakpoint( medium )
      font-size: 24px
    +breakpoint( large )
      font-size: 36px

.banner__close
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 15px
  width: 24px
  height: 24px
  cursor: pointer

  &:before
    content: ''
    display: block
    height: 3px
    border-radius: 3px
    width: 100%
    background: $black
    transform-style: preserve-3d
    transform: translateY(0) rotate(45deg)
    transition: all 0.4s ease-out-cubic 0.1s

  &:after
    content: ''
    display: block
    height: 3px
    border-radius: 3px
    width: 100%
    background: $black
    transform-style: preserve-3d
    transform: translateY(-3px) rotate(-45deg)
    transition: all 0.4s ease-out-cubic 0.1s
