.section--iframe
    .embed-wrapper
        +breakpoint( 601px )
            padding-left: 6.5rem
            padding-right: 6.5rem
        
.embed-container
    margin-bottom: 2rem
    text-align: center
    h4,
    p
        text-align: left
.inline-embed
    max-width: 900px
    margin: auto
    position: relative
.mfp-close
    right: 50px
    color: white !important

  