.form
  // margin-top: 2rem

  +breakpoint(medium)
    margin-top: 0

.gform_wrapper
  margin-top: 2rem
  +breakpoint(large)
    margin-top: 0 !important
    margin-bottom: 0 !important
  
  .gform_fields
    list-style: none
    
  .gform_footer
    padding-bottom: 0 !important

  .gfield
    margin-top: 0 !important
    margin-bottom: 1rem !important

    +breakpoint(medium)
      margin-bottom: 2rem !important
    
    &.gform_validation_container
      position: absolute !important
      top: -9999px !important
      left: -9999px !important

  label
    clip: rect(1px, 1px, 1px, 1px)
    position: absolute !important
    height: 1px
    width: 1px
    overflow: hidden

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea,
  select
    width: 100% !important
    //padding: 0.5rem 1rem !important
    padding: 0.75rem .9rem
    border: none
    border-radius: 0
    background-color: white
    color: $black
    font-family: $font-sans !important
    font-size: 15px !important
    font-weight: 300 !important

    +breakpoint(medium)
      font-size: 13px !important

    &::placeholder
      color: #6a6a6a
      opacity: 1

  // Error Handling
  .validation_error
    padding: 1.5rem !important
    border: none !important
    margin-bottom: 2rem !important
    background: white
    color: $red
    font-size: 14px !important

  .validation_message
    padding-top: 0.5rem !important
    font-family: $font-sans !important
    font-size: 12px !important
    color: white !important

  .gfield_error
    padding: 0 !important
    border-top: none !important
    border-bottom: none !important
    margin-top: 0 !important

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    textarea
      background-color: #e4cccc !important

  .gfield_required
    display: none

  // Confirmation
  .gform_confirmation_message
    padding: 2rem
    border-radius: 4px
    background: white
    color: $primary
    font-weight: 600
    letter-spacing: .5px
    line-height: 1.5
    text-align: center

  // Aggressive overrides
  .gform_wrapper li.gfield.gfield_error
    background: transparent !important
    margin-bottom: 1rem !important

    +breakpoint(medium)
      margin-bottom: 2rem !important
select 
  outline: none !important
  appearance: none
  position: relative
  background-color: #fff
  //background-image: url("data:image/svg+xmlbase64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+")
  background-image: url('../assets/images/select-arrow.png')
  background-position: 96% center
  background-repeat: no-repeat
  cursor: pointer
  line-height: 1.25
input.date-field,
input.movin-date
  background-image: url('../assets/images/select-arrow.png')
  background-position: 96% center
  background-repeat: no-repeat
/* 404 search */
.search-field
  padding: 13px 4px;
  width: 100%;
  max-width: 400px;
  font-family: $font-sans !important
  font-size: 15px !important
  font-weight: 300 !important

  +breakpoint(medium)
    font-size: 13px !important

  &::placeholder
    color: #6a6a6a
    opacity: 1
    


    
// tour form
.tour-form
  margin-top: 3rem
  +breakpoint(large)
    margin-top: 6rem
  .gf_tour_form
    .gform_body
      .gform_fields
        display: flex
        flex-wrap: wrap
        li
          flex: 0 1 calc(100% / 2 )
          text-align: left
          
          // &.gfield_span
          //   flex: 0 1 calc(100% / 2 )
          .gfield_description
            font-family: $font-sans
            color: $bronze
            font-size: rem-calc(13px)
          .ginput_container
            margin-bottom: 8px
            padding-right: 4px
            
            input,select
              border: none
              margin-bottom: 0
            .loader
              padding: .75rem .9rem
              background-color: #fff
              p
                line-height: 1.25
                color: $gray
                font-family: $font-sans
                font-weight: 300
                margin-bottom: 0
                +breakpoint(medium)
                  font-size: rem-calc(13px)
            .loader + p
              margin: 0
              font-size: rem-calc(13px)
              font-family: $font-sans
              color: $bronze
     
#form-messages
  background: linear-gradient(90deg,#855730 0,#ab8561 18.1%,#cc9d79 52.6%,#855730)
  margin-bottom: 3rem
  padding: 2rem
  p
    color: #fff
    font-family: $font-sans
    