.gallery-cover
    background-repeat: no-repeat
    background-size: cover
    height: 25vw
    max-height: 400px
    min-height: 200px
    display: flex
    flex-direction: column
    justify-content: center
    position: relative
    h3
        color: white
    .overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.2)
        opacity: 1
        transition: opacity 0.2s ease
    &:hover .overlay
        opacity: 0
        
// gallery controls in sidebar
.gallery-container
    position: relative
    min-height: 1000px
    +breakpoint( medium )
        min-height: 400px
    +breakpoint( large )
        min-height: 450px
    +breakpoint( xxlarge )
        min-height: auto
    
    &.gallery--open
        min-height: 300px !important
        +breakpoint( medium )
            min-height: 450px  !important
        +breakpoint( large )
            min-height: 470px  !important
        +breakpoint( xlarge )
            min-height: auto  !important
         
#gallery-categories
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 15
    &.gallery--open
        opacity: 0
        top: 100px
        pointer-events: none
        &.gallery--hide
            display: none
            
#galleries
    position: relative
    top: 0
    left: 0
    background-color: $semi-black
    opacity: 0
    visibility: hidden
    transition: transform 0.5s ease, opacity 0.5s ease
    transform: translateY(-100px)
    &.gallery--open
        opacity: 1
        visibility: visible
        transform: translateY(0)
.gallery-options
    +breakpoint( small )
        margin-top: 2rem !important
    li
        width: 48%
        margin: auto 1% 2rem
        float: left
        +breakpoint( medium )
            float: none
            width: 100%
            margin: auto auto 1.5rem
        +breakpoint( large )
            width: 55%
            margin-bottom: 2rem
        a
            font-family: $font-sans
            font-weight: 600
            color: white
            border: 1px solid $bronze
            text-align: center
            text-transform: uppercase
            width: 100%
            padding-top: 8px
            padding-bottom: 8px
            display: block
            transition: background-color 0.2s ease, border-color
            
        &.current-tab a,
        a:hover
            background-color: #e5e5e5
            color: $bronze
            border-color: transparent

    
.image-gallery .image-gal
    padding: 8px
    img
        transition: opacity 0.2s ease
        cursor: pointer
    &:hover img
        opacity: 0.8

.video-thumbnail
    position: relative
    .video-overlay
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: rgba(0, 0, 0, .3)
        .icon--play
            fill: white
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-32px,-32px)
            opacity: 0.8
            transition: opacity 0.2s ease
        &:hover .icon--play
            opacity: 1