.hero
  position: relative
  height: 70vw
  background-color: black
  // background-image: url(../assets/images/hero.jpg)
  background-position: center bottom
  background-repeat: no-repeat
  background-size: cover
  display: flex
  align-items: center
  justify-content: center
  +breakpoint(medium)
    height: calc(50vh - 7rem)
  +breakpoint(large)
    height: calc(74vh - 7rem)
  &.home
    height: 56.25vw
    // padding-top: 56.5%
    background-position: center center
    &:before,
    &::after
      content: ''
      position: absolute
      top: -110px
      bottom: 0
      width: 50%
      z-index: 510
      background: $black
      padding-top: 64%
    &:before
      left: 0

    .js-loaded &:before
      animation-name: slideLeft
      animation-duration: 1.5s
      animation-delay: 1.5s
      animation-fill-mode: forwards
      animation-timing-function: $easing

    &:after
      right: 0

    .js-loaded &:after
      animation-name: slideRight
      animation-duration: 1.5s
      animation-delay: 1.5s
      animation-fill-mode: forwards
      animation-timing-function: $easing
      
  .page-title
    background: $bronze-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

.hero__logo-mark
  position: absolute
  top: 50%
  left: 50%
  transform: translate( -50%, -65%)
  z-index: 511
  max-height: 80%
  padding: 2rem
  opacity: 0
  pointer-events: none

  .js-loaded &
    animation-name: fadeOut
    animation-duration: 3s
    animation-delay: 0s
    animation-fill-mode: forwards
    animation-timing-function: $easing
  
.hero__logo
  display: flex
  height: 100%
  position: relative
  z-index: 1
  padding: 3rem 2rem 3rem

  img
    max-height: 100%
.video--hero
  position: absolute
  display: none
  top: 0
  left: 0
  // transform: translate(-50%, -50%)
  // min-width: 100%
  // min-height: 100%
  width: 100%
  height: 100%
  +breakpoint( large )
    display: block
.video-wrap
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 4;
  // background: $black
  // width: 100%
  // padding-top: 56.5%
  &::after
    content: ''
    display: block
    width: 100%
    padding-top: 58%
    position: absolute
    top: 0
    left: 0
    background-color: rgba(0,0,0,.2)
  
// CSS Animations

@keyframes fadeOut
  0%
    opacity: 0
  15%
    opacity: 1
  50%
    opacity: 1
  100%
    opacity: 0

@keyframes slideRight
  0%
    right: 0
  100%
    right: -50%

@keyframes slideLeft
  0%
    left: 0
  100%
    left: -50%
