hr
    display: block
    height: 0
    border-style: none
    border-top: 1px solid $gray
    overflow: hidden
    margin-top: 3rem
    margin-bottom: 3rem
    
    &.hairline
        max-width: 110px
        margin-left: auto
        margin-right: auto