.iframe-container
  width: 100%
  position: relative
  height: 1000px
  +breakpoint(medium)
    padding-bottom: 56.25%
    height: 0
  @media screen and (min-height: 500px ) and (max-height: 899px)
    padding-bottom: 35%
  @media screen and (max-height: 900px )
    padding-bottom: 50%
  
  iframe
    border: 0
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    
#helix-tour
  width: 85%
  margin-left: auto
  margin-right: auto
  button.mfp-close
    top: -50px !important
    