#map,.map
  height: 400px
  width: 100%

  +breakpoint(medium)
    height: 500px

  +breakpoint(large)
    height: 600px
  &.map--locations
    +breakpoint(large)
      height: 800px

.infowindow
  color: $black
  max-width: 220px
  padding-right: 1rem
  strong:first-of-type
    display: inline-block
    margin-bottom: 4px
    line-height: 1.2
  
.map-section
  background-color: $semi-black
  
.map-filter
  li
    .icon
      width: 32px
      height: 32px
      display: inline-block
      vertical-align: middle
      margin-right: 8px
    a
      // border: 1px solid $bronze
      font-size: 18px
      font-family: $font-sans
      background-color: $light-gray
      padding: 12px 8px 8px 12px
      font-weight: 600
      display: block
      max-width: 255px
      transition: background-color 0.2s ease
      &.cat-fitness
        color: #161616
        .icon
          fill: #161616
      &.cat-lifestyle
        color: #855730
        .icon
          fill: #855730
      &.cat-food-and-drink
        color: $bronze
        .icon
          fill: $bronze
      &.cat-shopping
        color: #595450
        .icon
          fill: #595450
      &.cat-entertainment
        color: #242E64
        .icon
          fill: #242E64
      &.is-active,
      &:hover
        background-color: $bronze
        color: white
        .icon
          fill: white
        
.locations li
  font-family: $font-sans
  font-size: 14px
  text-align: left
  cursor: pointer
  color: $light-gray
  &:hover
    color: $bronze
.location-col
  .icon
    width: 32px;
    height: 32px;