.partner
  background: black
  img
    opacity: 1
    transition: opacity $speed $easing
    &:hover
      opacity: 0.75
.partner-container
  position: relative
  display: flex
  justify-content: center
  align-items: center
  background-color: $light-gray
  max-width: 800px
  margin: auto
  > div
    flex-basis: 400px
    color: $black
    text-align: center
    
  .mfp-close
    color: $black !important
  .p-logo
    background-color: white
  .p-offer
    padding: 2rem
    h2
      color: $bronze
      text-transform: uppercase
    p
      font-family: $font-sans
      font-size: rem-calc(14px)