.pattern,
.neighborhood-map
  position: relative

  &:after
    +breakpoint(medium)
      content: url(../assets/images/pattern-crown.svg)
      display: block
      position: absolute
      left: -2%
      top: -8%
      z-index: -1
      width: 203px

.pattern--alt
  &:after
    +breakpoint(medium)
      content: url(../assets/images/pattern-crown-alt.svg)
.pattern--double
  &:before
    +breakpoint(medium)
      content: url(../assets/images/pattern-crown.svg)
      display: block
      position: absolute
      right: -2%
      bottom: 0
      z-index: -1
      width: 203px
.pattern--right-side
  &:after
    +breakpoint(medium)
      right: 2%
      left: unset
      
.pattern--right-top
  &:after
    +breakpoint(medium)
      left: unset
      right: -2%
.pattern--left-bottom
  &:after
    +breakpoint(medium)
      top: unset
      bottom: -15%
    +breakpoint(large)
      bottom: 0
.pattern--right-bottom
  &:after
    +breakpoint(medium)
      right: -2%
      left: unset
      top: unset
      bottom: -15%
.neighborhood-map:after
    +breakpoint(medium)
      top: unset
      bottom: -15%
.pattern--full
  // &:before
  //   left: 15%
  //   top: unset
  //   bottom: -20%
  &:after
    +breakpoint(medium)
      content: ''
      width: 500px
      height: 470px
      background: url(../assets/images/pattern-crown-full.svg) 0 0 no-repeat
      background-size: cover
      left: unset
      top: unset
      right: 0%
      bottom: -35%