.hero + .section
  padding-top: 2rem
  +breakpoint(medium)
    padding-top: 4rem
  +breakpoint(large)
    padding-top: 6rem
.section
  position: relative
  padding-bottom: 2rem
  +breakpoint(medium)
    padding-bottom: 4rem
  +breakpoint(large)
    padding-bottom: 6rem
  &.section--amenties-tabs,
  &.section--tabbed_slider
    padding-top: 2rem
    padding-bottom: 2rem
    margin-bottom: 4rem
    +breakpoint(medium)
      padding-top: 3rem
      padding-bottom: 4rem
    +breakpoint(large)
      padding-top: 3rem
      padding-bottom: 6rem
body.page-residences .section.section--image-text
  +breakpoint(large)
    padding-bottom: 0rem
.flush-column
    display: flex
    flex-direction: column
    .image-flush
        position: relative
        
        +breakpoint( medium )
          width: 58vw
        img
            max-width: none
            width: 100%
.inner
  background: $black
  +breakpoint( medium )
    margin: 2rem 0
  .map-section &
    padding: 2rem
  +breakpoint( medium )
    padding: 3rem
    margin-bottom: 0
  &.transparent-bg
    background: none
  
.cell.overlap 
  position: relative
  z-index: 1
  &.overlap--right
    +breakpoint( medium ) 
      left: 100px
    
  &.overlap--left
    +breakpoint( medium ) 
      right: 100px
.contact-details
  padding-top: 2rem
  +breakpoint(medium)
    padding-top: 0