/* Tiny Slider
 * Version: 2.9.2
 * https://github.com/ganlanyuan/tiny-slider */

.tns-outer
    padding: 0 !important
    position: relative
    [hidden] 
        display: none !important
    [aria-controls], [data-action] 
        cursor: pointer
        
.tns-slider
    transition: all 0s
    > .tns-item
        box-sizing: border-box
        > img 
            width: 100%
    
.tns-horizontal
    &.tns-subpixel
        white-space: nowrap
    > .tns-item
        display: inline-block
        vertical-align: top
        white-space: normal
    &.tns-no-subpixel
        &:after
            content: ''
            display: table
            clear: both
        > .tns-item
            float: left
    &.tns-carousel
        &.tns-no-subpixel
            > .tns-item
                margin-right: -100%
.tns-no-calc
    position: relative
    left: 0
.tns-gallery
    position: relative
    left: 0
    min-height: 1px
    // overflow: hidden
    > .tns-item
        position: absolute
        left: -100px
        transition: transform 0s, opacity 0s
    > .tns-slide-active
        position: relative
        left: auto !important
    > .tns-moving
        transition: all 0.25s
.tns-autowidth
    display: inline-block
.tns-lazy-img
    transition: opacity 0.6s
    opacity: 0.6
    &.tns-complete
        opacity: 1
.tns-ah
    transition: height 0s
.tns-ovh
    overflow: hidden
.tns-visually-hidden
    position: absolute
    left: -10000em
.tns-transparent
    opacity: 0
    visibility: hidden
.tns-fadeIn
    opacity: 1
    filter: alpha(opacity=100)
    z-index: 0
.tns-normal, .tns-fadeOut
    opacity: 0
    filter: alpha(opacity=0)
    z-index: -1
// controls
.tns-controls
    [aria-controls]
        position: absolute
        top: 50%
        left: 2%
        color: white
        z-index: 500
        text-align: left
        width: 110px
        height: 65px
        font-size: 0
        &:before 
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 110px
            height: 65px
            background: url(../assets/svg/arrow-left.svg) 0 0 no-repeat
        &:nth-child(2)
            left: auto
            right: 2%
            text-align: right
            &:before
                background-image: url(../assets/svg/arrow-right.svg)
.custom-slider .tns-controls
    [aria-controls]
        &:before
            +breakpoint(large)
                background-image: none
        +breakpoint(large)
            //cursor: url(../assets/svg/arrow-left.svg), auto
            top: 0
            left: 0
            width: 50%
            height: 100%
        &:nth-child(2)
            &:before
                +breakpoint(large)
                    background-image: none
            +breakpoint(large)
                //cursor: url(../assets/svg/arrow-right.svg) 110 0, auto
                top: 0
                left: auto
                right: 0
                width: 50%
                height: 100%
            
// *** Fix a viewport issue in initialization
.tns-vpfix
    white-space: nowrap
    > div, > li
        display: inline-block
// *** Detecting browser capability ***
$width: 310px
$height: 10px
$count: 70
$perpage: 3

.tns-t
    &-subp2
        margin: 0 auto
        width: $width
        position: relative
        height: $height
        overflow: hidden
    &-ct
        width: (100% * $count / $perpage)
        width: -webkit-calc(100% * #{$count} / #{$perpage})
        width: -moz-calc(100% * #{$count} / #{$perpage})
        width: calc(100% * #{$count} / #{$perpage})
        position: absolute
        right: 0
        &::after
            content: ''
            display: table
            clear: both
        > div
            width: (100% / $count)
            width: -webkit-calc(100% / #{$count})
            width: -moz-calc(100% / #{$count})
            width: calc(100% / #{$count})
            height: $height
            float: left