
.tab-slider-menu
    margin-bottom: rem-calc(36px)
    li
        display: inline-block
        vertical-align: middle
        margin-right: 1rem
        &:last-child
            margin-right: 0
        a
          font-family: $font-sans  
          font-size: rem-calc(16px)
          text-transform: uppercase
          font-weight: bold
          color: #595450
        &.active a
            color: $bronze
          
.tab-slider
    h3,h4,h5,p,li
        font-family: $font-sans
    h3,h4,h5
        text-transform: uppercase
    h5
        margin-top: 2.125rem
    p
        margin-top: 0
        font-size: rem-calc(14px)
    &.slick-slider
        background: none !important
    .slick-prev, .slick-next
        top: -50px
        width: 80px
        height: 28px
        &:before
            width: 80px
            height: 30px
            background-image: url(../assets/images/tab-slider-arrows2.png)
            // opacity: 1 !important
    .slick-prev
        left: auto;
        right: 180px
        &:before
            background-position: 0 -30px
        // &.slick-disabled:before,
        // &:hover::before
        //     background-position: 0 -56px
    .slick-next
        &::before
            background-position: 0 0px
        // &.slick-disabled:before,
        // &:hover::before
        //     background-position: 0 0px
            