.tabs.tabs--amenities
    display: flex
    justify-content: center
    margin-bottom: 2rem
    flex-wrap: wrap
    +breakpoint(medium)
        margin-bottom: 4rem
    li
        a
            font-family: $font-sans
            font-weight: bold
            color: #595450
            display: block
            padding: 8px 24px
            text-transform: uppercase
        &.current-tab a 
            color: $dark-bronze
.tab-wrapper
    position: relative
    z-index: 5
    &.gallery-wrapper
        // min-height: 300px
        // +breakpoint( medium )
        //     min-height: 500px
        // +breakpoint( large )
        //     min-height: 650px
        // +breakpoint( xlarge )
        //     min-height: 840px
        // +breakpoint( xxlarge )
        //     min-height: auto
    // .tab-content
    //     opacity: 0
    //     display: none
    //     transition: opacity 0.2s ease;
    //     &.current-tab
    //         opacity: 1
    //         display: block
