.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 1em 4em
  border: none
  border-radius: 0
  background: $bronze-gradient
  color: white
  font-family: $font-sans
  font-size: 16px
  font-weight: 700
  text-decoration: none
  text-transform: uppercase
  transition: color 0.3s $easing, background 0.3s $easing

  &:hover
    cursor: pointer

  .icon
    margin-left: .75em
