.form
  margin-top: 2rem

  +breakpoint(medium)
    margin-top: 0

  .gform_wrapper
    margin-top: 0 !important
    margin-bottom: 0 !important

  .gform_footer
    padding-bottom: 0 !important

  .gfield
    margin-top: 0 !important
    margin-bottom: 1rem !important

    +breakpoint(medium)
      margin-bottom: 2rem !important

  label
    clip: rect(1px, 1px, 1px, 1px)
    position: absolute !important
    height: 1px
    width: 1px
    overflow: hidden

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea
    width: 100% !important
    padding: 0.5rem 1rem !important
    border: none
    border-radius: 0
    background: white
    color: $black
    font-family: $font-sans !important
    font-size: 15px !important
    font-weight: 300 !important

    +breakpoint(medium)
      font-size: 13px !important

    &::placeholder
      color: #6a6a6a
      opacity: 1

  // Error Handling
  .validation_error
    padding: 1.5rem !important
    border: none !important
    margin-bottom: 2rem !important
    background: white
    color: $red
    font-size: 14px !important

  .validation_message
    padding-top: 0.5rem !important
    font-family: $font-sans !important
    font-size: 12px !important
    color: white !important

  .gfield_error
    padding: 0 !important
    border-top: none !important
    border-bottom: none !important
    margin-top: 0 !important

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    textarea
      background-color: #e4cccc !important

  .gfield_required
    display: none

  // Confirmation
  .gform_confirmation_message
    padding: 2rem
    border-radius: 4px
    background: white
    color: $primary
    font-weight: 600
    letter-spacing: .5px
    line-height: 1.5
    text-align: center

  // Aggressive overrides
  .gform_wrapper li.gfield.gfield_error
    background: transparent !important
    margin-bottom: 1rem !important

    +breakpoint(medium)
      margin-bottom: 2rem !important
