.hero
  position: relative
  height: calc(100vh - 4rem)
  background-color: black
  background-image: url(../assets/images/hero.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  align-items: center
  justify-content: center

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 50%
    z-index: 10
    background: $black

  .js-loaded &:before
    animation-name: slideLeft
    animation-duration: 1.5s
    animation-delay: 1.5s
    animation-fill-mode: forwards
    animation-timing-function: $easing

  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 50%
    z-index: 10
    background: $black

  .js-loaded &:after
    animation-name: slideRight
    animation-duration: 1.5s
    animation-delay: 1.5s
    animation-fill-mode: forwards
    animation-timing-function: $easing

.hero__logo-mark
  position: absolute
  top: 50%
  left: 50%
  transform: translate( -50%, -50%)
  z-index: 11
  max-height: 100%
  padding: 2rem
  opacity: 0

  .js-loaded &
    animation-name: fadeOut
    animation-duration: 3s
    animation-delay: 0s
    animation-fill-mode: forwards
    animation-timing-function: $easing

.hero__logo
  display: flex
  height: 100%
  position: relative
  z-index: 1
  padding: 3rem 2rem 3rem

  img
    max-height: 100%

// CSS Animations
@keyframes fadeOut
  0%
    opacity: 0
  15%
    opacity: 1
  50%
    opacity: 1
  100%
    opacity: 0

@keyframes slideRight
  0%
    right: 0
  100%
    right: -50%

@keyframes slideLeft
  0%
    left: 0
  100%
    left: -50%
