body > svg:first-of-type
  position: absolute
  width: 0
  height: 0
  visibility: hidden

.icon
  display: block
  fill: currentColor

.icon--small
  height: 16x
  width: 16px

.icon--medium
  height: 32px
  width: 32px

.icon--large
  height: 64px
  width: 64px

.icon--white
  fill: white

.icon--black
  fill: black
