.nav
  ul
    margin: 0
    padding: 0
    list-style: none

  li
    margin-top: 0
    margin-right: 2.5rem
    margin-bottom: 0

  a
    text-decoration: none

.nav--header
  display: none

  +breakpoint(medium down)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 3

  +breakpoint(large)
    display: flex !important // override jQuery block display
    justify-content: center
    padding: 2rem 0
    background: $light-gray

  li
    +breakpoint(medium down)
      opacity: 0
      transition: opacity 0.2s ease-out-cubic

      .is-open &
        opacity: 1
        transition: opacity 0.4s ease-out-cubic

.nav--footer
  display: flex
  justify-content: flex-end
