.pattern
  position: relative

  &:after
    +breakpoint(medium)
      content: url(../assets/images/pattern-crown.svg)
      display: block
      position: absolute
      left: -101px
      top: -8%
      z-index: -1
      width: 203px

.pattern--alt
  &:after
    +breakpoint(medium)
      content: url(../assets/images/pattern-crown-alt.svg)

.pattern--right-side
  &:after
    +breakpoint(medium)
      right: -101px
      left: unset
