.scroll-text-container
  position: relative
  display: flex
  justify-content: center
  margin: 0.5rem 0 4rem

.scroll-text
  background: $bronze-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

  +breakpoint(medium)
    position: absolute
    top: -15%
    right: 50%
    z-index: 10
    transform: translateX(50%)
    white-space: nowrap

  +breakpoint(large)
    top: 0

.scroll-text--main
  +breakpoint(medium)
    top: 0
    right: 50%
    transform: translateX(50%)
