.section
  position: relative
  padding-top: 2rem
  padding-bottom: 2rem

  +breakpoint(medium)
    padding-top: 4rem
    padding-bottom: 4rem

.section--no-pad
  padding-top: 0
  padding-bottom: 0

.section--no-pad-bottom
  padding-bottom: 0

.section--pad-bottom
  padding-bottom: 4rem

  +breakpoint(medium)
    padding-bottom: 6rem

.section--keep-top
  padding-top: 4rem
