.footer
  padding: 2rem 0
  background: white
  color: $black

  +breakpoint(medium)
    padding: 4rem 0

  // +breakpoint(large)
  //   padding: 6rem 0

.footer__logo
  display: inline-flex
  margin-right: 2rem

  +breakpoint(medium)
    margin-right: 4rem

p.address,
p.footer__copyright
  font-size: rem-calc(10px)
  font-family: $font-sans
  font-weight: 300 
  a
    color: unset
    
  .pipe
    display: inline-block
    margin-left: 4px
    margin-right: 4px

p.footer__copyright
  margin-top: 8px
  a
    text-decoration: underline
  
.footer__disclaimer
  margin-top: 2rem
  p
    font-family: $font-sans
    font-size: 8px
    font-weight: 300

.wood-logos 
  margin: 2rem 0
  img
    display: inline-block
    vertical-align: middle
    margin: 0 8px
  .wood-logo
    width: 128px
  .pet-logo
    width: 43px
  .fair-logo
    width: 26px
  .access-logo
    width: 16px;

#text-us, #text-us:link, #text-us:visited
  transition: all 0.2s ease
  background: $bronze
  background: $bronze-gradient !important
  font: 600 12px/36px $font-sans !important
  right: -3em !important
  top: 50% !important
  top: 300px !important
  &:hover
    right: -1.9em  !important
// .nav-open #text-us
//   z-index: 1 !important
#grand-opening,
#grand-opening:link,
#grand-opening:visited
  transition: all 0.2s ease
  display: block
  position: fixed
  font: 600 12px/36px $font-sans !important
  border-radius: 5px 5px 0 0
  top: 500px
  right: -75px
  transform: rotate(-90deg)
  color: white
  background: $bronze
  background: $bronze-gradient !important
  padding: 8px 20px 30px
  box-shadow: -2px -1px 2px rgba(255,255,255,.6)
  z-index: 1001
  text-decoration: none
  text-transform: uppercase
  &:hover
    right: -60px
  

@-webkit-keyframes slideInRight
  from
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    opacity: 1

@keyframes slideInRight
  from
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)
    visibility: visible
    opacity: 0

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    opacity: 1



@-webkit-keyframes fadeInRight
  from
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)
    
  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    
@keyframes fadeInRight
  from
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)


  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
