.logo-icon
    width: 46px
    +breakpoint(medium)
        margin: auto
.logo
    width: 180px
    +breakpoint(medium)
        width: 260px
        margin: auto
.nav-panel
    padding: 0 3rem
    position: fixed
    z-index: 500
    top: 0
    left: auto
    right: 0
    width: 90%
    height: 100%
    max-width: 675px
    overflow: auto
    transform: translateZ(0)
    transform: translateX(100%)
    transition: transform .5s cubic-bezier(.07,.23,.34,1)
    background: $black
    
    display: flex
    flex-direction: column
    justify-content: space-between // y-axis
    
    // .nav-panel-top,
    // .nav-panel-bottom
    //     position: absolute
    //     top: 2rem
    //     left: 3rem
    //     +breakpoint(xxlarge)
    //         top: 2.5rem
        
    // .nav-panel-bottom
    //     top: auto
    //     bottom: 2rem
    .nav-panel-top
        margin-top: 7%
    .nav-panel-bottom 
        margin-bottom: 7%
        a
            display: inline-block
            margin-right: 8px
            border-right: 1px solid #777;
            padding: 1px 11px 4px 0;
            line-height: 1;
            &:last-child
                margin-right: 0;
                border-right: none;
                padding-right: 0;
    .logo-icon
        margin: 0

    .panel-nav.primary
        margin-bottom: 1rem;
        +breakpoint(xxlarge)
            margin-bottom: 3rem;
    .panel-nav.secondary
        margin-top: 1rem;
        +breakpoint(xxlarge)
            margin-top: 3rem;
    .menu,
    a
        font-family: $font-sans
        color: white
        text-decoration: none
        
    .menu 
        li a 
            font-size: 1.250rem
            font-weight: 900
            text-transform: uppercase
            +breakpoint(xxlarge)
                font-size: 1.5rem
        
        &.small li a
            font-size: .875rem
            font-weight: 300
            +breakpoint(xxlarge)
                font-size: 1rem

.nav-panel-overlay
    position: fixed
    z-index: 499
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(255,255,255,0.8)
    opacity: 0
    visibility: hidden
    transition: opacity .5s, visibility .5s
    
    
/* open config */
.nav-open
    overflow: hidden;
    .nav-panel
        transform: translateX(0)
    .nav-panel-overlay
        opacity: .6
        visibility: visible    
    
    /*.header .nav-trigger 
        position: absolute !important;
        top: 2rem
        right: 1rem
        z-index: 501;
        +breakpoint(xxlarge)
            top: 3.611rem
        span
            background: transparent !important
            &:before,
            &::after
                background: white;
            
            &:before
                transform: rotate(-45deg)
            &:after
                transform: rotate(45deg) */
        
    
     
.header
    // padding: 1rem 0
    height: 135px
    +breakpoint( medium )
        height: 110px
    +breakpoint( large )
        padding: 0 3rem
        position: fixed
        top: 0
        left: 0
        width: 100%
        background-color: $black
        z-index: 450
    .apply-link a,
    .phone a
        font-size: 18px
        font-family: $font-sans
        font-weight: 900
        color: #fff
        text-decoration: none
    .apply-link
        display: none
        +breakpoint( medium )
            display: inline
    .nav-trigger
        display: inline-block
        vertical-align: middle
        margin-left: 2rem
        position: relative
        overflow: hidden
        color: transparent
        white-space: nowrap
        text-indent: 100%
        height: 44px
        width: 44px
        cursor: pointer
        span,
        span:before,
        span:after
            position: absolute
            height: 1px
            width: 36px
            background: $light-gray
            
        span
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            transition: background .3s
            
            &:before,
            &:after
                content: ''
                top: 0
                left: 0
                transition: background .3s, transform .3s
                
            &::before
                transform: translateY(-8px)
            &::after
                transform: translateY(8px)
                
    .nav-trigger:hover span,
    .nav-trigger:hover span:before,
    .nav-trigger:hover span:after
        background: white